<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{> header}}
<p>{{capitalIt body}}</p>
<p>this status text changes</p>
{{> footer}}
</body>
</html>